.label{
    color: #666;
    font-size: 0.9em;
    font-weight: 700;
    margin-bottom: 0.4em;
}

.inputContainer{
    height: 3em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input{
    width: 100%;
    height: 3em;
    padding-left: 2em;
    border-radius: 0.5em;
    background-color: #f2f2f2;
    border: 0.15em solid #ccc;
}

.input:focus{
    border-color: #ff9f68;
    transition: border 0.3s;
}

.icon{
    color: #ccc;
    font-size: 1em;
    margin-left: 0.5em;
    margin-bottom: -1em;
}
