* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e3e3e3;
    font-family: Roboto, Arial, sans-serif;
}

#App {
    width: 70vw;
    padding: 2.5vw;
    display: flex;
    border-radius: 1em;
    flex-direction: row;
    background-color: #ebebeb;
    box-shadow: 0 0 0.8em #0004;
    justify-content: space-around;
}

#column1{
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 0.3em dotted #ddd;
}

#column2{
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.display{
    color: #7c203a;
    font-size: 3em;
    font-weight: 300;
    font-family: 'Bebas Neue', sans-serif;
}

#resultado{
    color: #f85959;
}

p {
    color: #7c203a;
    font-size: 0.9em;
    font-weight: 700;
}

#buttonContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}